<footer id="siteFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <span class="company-logo on-dark mt-3">
                    <span class="code">{ </span><span class="text">FLXS</span><span class="code"><span class="colon">;</span> }</span>
                </span>
                Privacy-First Software Solutions
            </div>
            
            <div class="col-sm-12 col-md-3 text-center mt-3 text-md-left">
                Follow Us:-
                <nav class="nav flex-column">
                    <a class="nav-link" href="https://twitter.com/flxsuk"><i class="fab fa-twitter"></i> On Twitter</a>
                    <a class="nav-link" href="https://www.indiehackers.com/product/flxs"><img alt="Indie Hackers Logo" src="/img/ih.png" width="12" height="12"/> On Indie Hackers</a>
                    <a class="nav-link disabled" href="https://discord.gg"><i class="fab fa-discord"></i> On Discord (soon)</a>
                </nav>
            </div>
            
            <div class="col-sm-12 col-md-3 text-center mt-3 text-md-left">
                Other Links:-
                <nav class="nav flex-column">
                    <a class="nav-link" href="/about/logo.html">Logo</a>
                    <a class="nav-link" href="/about/credits.html">Thank you</a>
                    <a class="nav-link" href="/security.txt">security.txt</a>
                    <a class="nav-link" href="https://plausible.io/flxs.co.uk"><i class="fa fa-chart-bar"></i> Stats by Plausible.io</a>
                </nav>
            </div>
        </div>
    </div>
    
</footer>