<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="flxsuk" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="Privacy first software" />
<meta property="og:image" content="/img/logo/logo-avatar.png" />
<meta name="keywords" content="privacy, agile, project, secure, private">
<meta name="description" content="Privacy first software">

<title>{{ .Title }}</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400|Exo:400|Audiowide">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/fa-all.min.css">

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.serialize-object.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script async defer data-domain="flxs.co.uk" src="https://plausible.io/js/plausible.js"></script>