<nav class="navbar fixed-top navbar-expand-lg navbar without-hero">
    <a class="navbar-brand" href="/" title="FLXS">
        <span class="company-logo on-dark">
            <span class="code">{ </span><span class="text">FLXS</span><span class="code"><span class="colon">;</span> }</span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: white"><i class="material-icons">menu</i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">                
        <ul class="navbar-nav ml-auto" style="">
            <li class="nav-item pl-3"><a class="nav-link" href="/about/roadmap.html">Roadmap</a></li>
            <li id="navbarLoginLink" class="nav-item pl-3"><a class="nav-link" href="/login.html">Login</a></li>
            <li id="navbarProfileLink" class="nav-item pl-3 d-none">
                <a class="nav-link" href="/profile.html">Profile</a>
            </li>
        </ul>
    </div>
</nav>